/* Contact Section */
.contact-section{
    background: $section-bg;
    @extend %global-section-spacing;

    .form-control{
        padding-top: .7rem;
        padding-bottom: .7rem;
    }
    .btn-danger{
        display: block;
        margin: 0 auto;
        margin-top: 1.5rem;
    }
}