/* Intro Section */
.intro-section{
    @extend %global-section-spacing;
    background: $section-bg url(../img/hero-illustration-img-bg.png) no-repeat right;
    background-size: contain;
}
.intro-content{
    h1{
        line-height: 80px;  
    }
    p{
        padding: 20px 0px;
    }
    .intro-buttons{
        display: flex;
        align-items: center;

        .intro-optional-button{
            color: $secondary-color;
            font-weight: 600;
            text-decoration: none;
            padding: 10px 20px;
            display: inline-block;
            transition: 0.3s ease-in-out;

            &:hover{
                color: $primary-color;
            }
        }
    }
}

.intro-section .img-fluid{
    position: relative;
}
