/* Theme Variables */
/* Color */
$primary-color: #ff3946;
$secondary-color: #314584;
$section-bg: #fff;
$font-color: #6b717f;
$pure-white: #fff;
$soft-white: #f1eded;
$gray-color: #d0d0d0;
$pure-dark: #000;
/* Font-Family */
$primary-font: 'Work Sans', sans-serif;
$secondary-font: 'Poppins', sans-serif;
/*Font-Size*/
$body-font-size: 16px;
