/* Theme Variables */
/* Color */
$primary-color: #ff3946;
$secondary-color: #314584;
$section-bg: #fff;
$font-color: #6b717f;
$pure-white: #fff;
$soft-white: #f1eded;
$gray-color: #d0d0d0;
$pure-dark: #000;
/* Font-Family */
$primary-font: 'Work Sans', sans-serif;
$secondary-font: 'Poppins', sans-serif;
/*Font-Size*/
$body-font-size: 16px;

/* Global Mixins */
//box-shadow
@mixin global-box-shadow($x-axis: 1px, $y-axis: 8px, $blur: 10px, $color: #eee) {
    box-shadow: $x-axis $y-axis $blur $color;
}
//Section spacing
@mixin section-spacing($top: 80px, $bottom: 80px, $left: 0px, $right: 0px) {
    padding-top: $top;
    padding-bottom: $bottom;
    padding-left: $left;
    padding-right: $right;
}

/* Global Extends */
//Button
%global-primary-button{
    font-weight: 500;
    border-radius: 50px;
    padding: 10px 25px;
    background: $primary-color;
    border-color: $primary-color;
}
%global-section-spacing{
    @include section-spacing();
}
.btn-primary,.btn-danger{
    @extend %global-primary-button;
}
//Section Padding

/* Theme Global CSS */
body{
    color: $font-color;
    font-size: $body-font-size;
    font-family: $primary-font;
}
p{
    $color: $font-color;
    font-size: $body-font-size;
    font-family: $primary-font;
}
h1,h2,h3,h4,h5,h6{
    color: $secondary-color;
    font-family: $primary-font;
}
h1{
    font-size: 60px;
    font-weight: 600;
    color: $secondary-color;
}
h2{
    font-size: 40px;
    font-weight: 600;
    line-height: 52px;
}
h5{
    font-size: 20px;
    font-weight: 600;
}
ul{
    font-family: $primary-font;
}
a{
    font-family: $primary-font;
}
.top-title{
    color: $primary-color;
    text-transform: uppercase;
    font-weight: 600;
}
.arrow-icons{
    display: flex;
    align-items: center;
    padding-top: 10px;

    a{
        color: $gray-color;
        text-decoration: none;
        display: inline-block;
    }
    i{
        transition: 0.15s ease-in-out;

        &:hover{
            color: $primary-color
        }
    }
    .fa-long-arrow-right{
        color: $secondary-color;
        font-size: 22px;
        margin-left: 15px;
    }
}

/* Theme Main CSS */
header{
    background: $section-bg;
}
.navbar{
    padding-top: 1rem;
    padding-bottom: 1rem;

    .navbar-nav{
        .nav-link{
            color: $secondary-color;
            font-weight: 600;
            padding-right: 1rem;
            padding-left: 1rem;

            &:hover{
                color: $primary-color;
            }
       }
    }
    .header-action-item{
        display: flex;
        align-items: center;

        .nav{
           a{
               color: $secondary-color;
               font-weight: 600;

               &:hover{
                   color: $primary-color;
               }
           } 
        }
        .btn-primary{
            color: $primary-color;
            background: $pure-white;
            border-color: $pure-white;
            padding-left: 20px;
            padding-right: 20px;
            font-weight: 600;
            @include global-box-shadow();

            &::after{
                content: "\f178";
                font-family: fontAwesome;
                position: relative;
                left: 5px;
            }
            &:hover{
                color: $pure-white;
                border-color: $primary-color;
                background: $primary-color;
            }
        }
    }
}

/* Intro Section */
.intro-section{
    @extend %global-section-spacing;
    background: $section-bg url(../img/hero-illustration-img-bg.png) no-repeat right;
    background-size: contain;
}
.intro-content{
    h1{
        line-height: 80px;  
    }
    p{
        padding: 20px 0px;
    }
    .intro-buttons{
        display: flex;
        align-items: center;

        .intro-optional-button{
            color: $secondary-color;
            font-weight: 600;
            text-decoration: none;
            padding: 10px 20px;
            display: inline-block;
            transition: 0.3s ease-in-out;

            &:hover{
                color: $primary-color;
            }
        }
    }
}

.intro-section .img-fluid{
    position: relative;
}

/* Service Section */
.service-section{
    background: $section-bg url(../img/section-left-bg-01.png) no-repeat left;
    background-size: contain;
    @extend %global-section-spacing;

    h2{
        line-height: 52px;
    }
    .desktop-button{
        display: block;
    }
    .mobile-button{
        display: none;
    }
    .btn-danger{
        margin-top: 30px;
    }
}
.service-card{
    padding: 30px;
    @include global-box-shadow();
    background: $pure-white;
    border-color: $soft-white;
    transition: 0.15s ease-in-out;

    &:hover{
        @include global-box-shadow(0, 0, 0, #eee)
    }

    h5{
        padding: 20px 0px;
        line-height: 30px;
        margin-bottom: 0px;
    }
}

/* About Section */
.about-section{
    background: $section-bg url(../img/section-right-bg-01.png) no-repeat right;
    background-size: contain;
    @extend %global-section-spacing;

    p{
        padding-top: 30px;
    }
}

/* Portfolio Section */
.portfolio-section{
    background: $section-bg url(../img/portfolio-section-bg.png) no-repeat left center;
    background-size: 60%;
    @extend %global-section-spacing;
}
.porfolio-arrow-icons{
    padding: 20px 0px;
    justify-content: flex-end;
}
.portfolio-row{
    margin-top: 20px;
}
.protfolio-item{
    position: relative;
    img{
        border-radius: 5px;
    }
    .portfolio-item-hover{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 30px;
        text-align: center;
        border-radius: 5px;
        background: rgba(255, 57, 70,.0);
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0;

        transition: 0.15s ease-in-out;

        .hover-content{
            .portfolio-title,
            .portfolio-dsc{
                width: 100%;
                color: $pure-white;
                margin-bottom: 0px;
            }
        }
    }

    &:hover .portfolio-item-hover{
        background: rgba(255, 57, 70,.9);
        opacity: 1;
        cursor: pointer;
    }
}
.portfolio-footer{
    color: $primary-color;
    padding: 30px 0px;
    text-align: center;

    p{
        font-weight: 600;
        &:hover{
            cursor: pointer;
        }
    }
}

/* Blog Section */
.blog-section{
    background: $section-bg url(../img/blog-section-bg.png) no-repeat right center;
    background-size: contain;
    @extend %global-section-spacing;

    .blog-arrow-icons{
        @extend .porfolio-arrow-icons;
    }
}
.blog-items-row{
    padding-top: 2rem;
}
.blog-card{
    @extend .service-card;

    .card-body{

        .card-title{
            font-size: 18px;
        }
        .card-subtitle{
            font-size: 14px;
            padding-top: 10px;
        }
        .card-text{
            padding-top: 20px;
        }
        .card-icon{
            display: flex;
            justify-content: flex-end;
            padding: 20px 10px 0px;
    
            a{
                color: $primary-color;
                font-size: 25px;
            }
        }
    }
    
    &:hover{
        background: $primary-color;
        border-color: $primary-color;

        .card-title,.card-subtitle,
        .card-text,.card-icon a{
            color: $pure-white !important;
        }
        cursor: pointer;
    }
}

/* Contact Section */
.contact-section{
    background: $section-bg;
    @extend %global-section-spacing;

    .form-control{
        padding-top: .7rem;
        padding-bottom: .7rem;
    }
    .btn-danger{
        display: block;
        margin: 0 auto;
        margin-top: 1.5rem;
    }
}

/* Footer Section */
footer{
    background: $secondary-color;
    padding: 50px 0px;

    .footer-title{
        color: $pure-white;
        text-align: center;
        text-transform: uppercase;
        padding: 1rem 0rem;

        a{
            color: $pure-white;
            text-decoration: none;
        }
    }

    .nav{
        .nav-link{
            color: $pure-white;
        }
    }
    .footer-copyright{
        color: $soft-white;
        text-align: center;
        font-weight: 400;
        font-size: 14px;
        padding: 1rem 0rem;
    }
}
.footer-social-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0rem;

    a{
        color: $pure-white;
        display: block;
        margin: 0px 15px;
        transition: 0.15s ease-in-out;
        i{
            font-size: 30px;
        }
    }
}













/* Media Query For All devices */
//Medium Device
@media (max-width: 991.99px){
    //Global Style
    h2{
        font-size: 35px;
    }

    //Header Section
    .navbar{
        #main-menu{
            padding-top: 20px;
        }
        .header-action-item{
            display: none;
        }
    }

    //Service Section
    .service-section{
        h2{
            line-height: 45px;
        }
        .card{
            padding: 10px;
        }
    }

    //About Section
    .about-section{
        h2{
            line-height: 45px;
        }
        p{
            padding-top: 20px;
        }
        
    }

    //Portfolio Section
    .portfolio-section{
        h2{
            line-height: 45px;
        }
        .portfolio-item-hover{
            padding: 15px;
        }
        .hover-content{
            h4{
                padding: 10px 0px;
            }
            p{
                font-size: 14px;
            }
        }
    }

    //Blog Section
    .blog-section{
        .blog-card{
            padding: 12px;
        }
    }



}

//Small Device
@media (max-width: 767.99px){
     //Global Style
     h2{
        font-size: 32px;
    }
    .service-section,.about-section,
    .portfolio-section,.blog-section,
    .contact-section,footer{
        padding: 35px 0px;
    }

    //Intro Section
    .intro-section{
        text-align: center;
        h1{
            font-size: 55px;
            line-height: 70px;
        }
        .intro-buttons{
            flex-wrap: wrap;
            justify-content: center;

            a{
                display: block;
            }

            .intro-optional-button{
                width: 100%;
                padding-top: 10px;
            }
        }
    }

    //Service Section
    .service-section{

        h2{
            text-align: center;
            padding-bottom: 40px;
        }
        .desktop-button{
            display: none;
        }
        .mobile-button{
            display: block;
            text-align: center;
            padding: 20px 0px;
        }
    }

    //About Section
    .about-content{
        text-align: center;
        padding: 3rem 0rem;
    }
    .arrow-icons{
        justify-content: center;
    }

    //Portfolio Section
    .portfolio-section{
        h2{
            text-align: center;
        }

        .portfolio-item-hover{
            padding: 20px;
        }
        .hover-content{
            h4{
                padding: 10px 0px;
            }
            p{
                font-size: 14px;
            }
        }
    }

    //Blog Section
    .blog-section{
        .top-title,h2{
            text-align: center;
        }
        .blog-arrow-icons{
            justify-content: center;
        }
        .blog-card{
            .card-title{
                padding: 5px 0px;
            }
        }
    }

    //Contact Section
    .contact-section{
        .top-title,h2{
            text-align: center;
        }
    }


}

//Mobile Device
@media (max-width: 575.99px){
    //Global Style

    //Intro Section
    .intro-section{

        .intro-content{
            text-align: center;

            h1{
                font-size: 50px;
                line-height: 65px;
            }
            .intro-buttons{
                justify-content: center;
                padding-top: 20px;
            }
        }
    }


    //Service Section
    .service-section{
        
        .card{
            text-align: center;
            margin: 15px 0px;
        }
    }

    //Portfolio Section
    .portfolio-section{
        .portfolio-item-hover{
            padding: 45px;
        }
    }

    //Blog Section
    .blog-section{
        .blog-card{
            text-align: center;

            .card-title{
                padding: 5px 0px;
            }
            .card-icon{
                justify-content: center;
            }
        }
    }
}